<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Day - v4.2.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <title>Covid Resources</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
    <style>
      a:link, a:visited 
      {
      color: white;
      }
    </style>
  </head>
  <body>
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center" >
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="github"><i class="bi bi-github"></i></a>
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a> 
      </div>
    </div>
  </section>
    <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">CoWarrior</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li><a class="nav-link scrollto" href="/#cards">Current Status</a></li>
          <li><a class="nav-link scrollto" href="/#team">Team</a></li>
          <li><a class="nav-link scrollto" href="/country">Live Data</a></li>
          <li><a class="nav-link scrollto" href="/resource">Resources</a></li>
          <li class="dropdown"><a href="#"><span>Bots</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="https://telegram.me/coviresbot">CoviRes</a></li>
            </ul>
          
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <h1 align="center" data-localize="head">
    COVID RESOURCE PAGE
  </h1>
    <div class="s008">
      <form  method="POST" action="/info/">
      <!--<input type="SUBMIT"/>-->
        <div class="inner-form">
          <div class="advance-search">
            <span class="desc" data-localize="title">Covid Help</span>
            <div class="row">
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="LANGUAGES" value="">Select language</option> 
                    <!-- Look into it -->
                    <option>english</option>
                    <option>हिंदी</option>
                    <option>తెలుగు</option>
                  </select>
                </div>
              </div>
              <script src="{{ url_for('static', filename='assets/js/extention/choices.js') }}"></script>

              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="n2" data-localize="title2" >
                    <option placeholder="" value="" >Resources required</option>
                    <option data-localize="resources.remdesivir">Remdesivir</option>
                    <option>Hospital beds</option>
                    <option>Oxygen cylinders</option>
                    <option>Plasma</option>
                    <option>Fabiflu & Favipiravir</option>
                    <option>ICU & ventilators</option>
                  </select>
                </div>
              </div>

              <form method="post">
                <div class="input-field">
                  <div class="input-select" data-localize="city" id="city">
                    City
                  </div>
                  <input type="text" name="n1" id="n1"/>
                </div>
              </form>
            </div>
            <div class="row third">
              <div class="input-field">
                <div class="result-count" data-localize="wear">
                <span>Wear</span>Masks</div>
                <div class="group-btn" >

                      <button type="submit" class="btn-search" data-localize="search">
                        Search
                      </button>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="{{ url_for('static', filename='assets/js/extention/choices.js') }}"></script>
    <script>
      const customSelects = document.querySelectorAll("select");
      const deleteBtn = document.getElementById('delete')
      const choices = new Choices('select',
      {
        searchEnabled: false,
        removeItemButton: true,
        itemSelectText: '',
      });
      for (let i = 0; i < customSelects.length; i++)
      {
        customSelects[i].addEventListener('addItem', function(event)
        {
          if (event.detail.value)
          {
            let parent = this.parentNode.parentNode
            parent.classList.add('valid')
            parent.classList.remove('invalid')
          }
          else
          {
            let parent = this.parentNode.parentNode
            parent.classList.add('invalid')
            parent.classList.remove('valid')
          }
        }, false);
      }
      deleteBtn.addEventListener("click", function(e)
      {
        /* e.preventDefault()
         const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
          deleteAll[i].click();
        } */
        const deleteAll = form.querySelector('input[name="n1"]');
      });
    </script>
    <script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.localize.js') }}"></script>
    <script>
      $('[data-localize]').localize("mylanguage",{language:"en"});
    </script>
    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright 2021. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  </body>
</html>
